<!doctype html>
<html lang="en">
  <head>
   {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'alertifyjs/css/alertify.min.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'alertifyjs/css/bootstrap.min.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'alertifyjs/css/default.min.css' %}">

    <title>Wallet Ripio</title>
  </head>
  <body class="text-center">
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'alertifyjs/js/alertify.min.js'%}"></script>

    <script src="{% static 'js/walletclient.js'%}"></script>
	<div class="container">
	<h1>Bienvenido a Wallet Ripio</h1>
	<div class="row" id="login">
		<div class="col-4"></div>
		<div class="col-5">
			<div class="form-signin">
    		<h2>Acceda a su billetera: </h2>
		      <label for="inputUsername" class="sr-only">User Name</label>
		      <input type="text" id="inputUsername" class="form-control" placeholder="User Name" required autofocus>
		      <br>
		      <label for="inputPassword" class="sr-only">Password</label>
		      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		      <button class="btn btn-lg btn-primary btn-block login-button" type="submit">Sign in</button>
		    </div>
		</div>
		<div class="col-4"></div>
	</div>
	<br>
	<div class="card bg-primary text-white" id="card_name" style="display: none;">
		<h3 id="name"></h3>
	</div>
	<br>
	<div class="card-columns" id="wallets"></div>
	    
	<div class="card" style="display: none;" id="wallet">
	  <div class="card-body" id="info">Operaciones:</div> 
	  <div class="card-footer" id="actions">
	  	<button type="button" class="btn btn-success" id="create">Crear Moneda</button>
	  	<button type="button" class="btn btn-info send" id="send">Enviar Dinero</button>
	  	<button type="button" class="btn btn-danger" id="balance">Balance</button>
	  </div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="card" style="display: none;" id="coin_create">
				<label>Monedas: </label>
					<select id="coins_select" class="form-control">
						<option>--Seleccione una moneda--</option>
					</select>
					<input type="integer" class="form-control" id="new_coin" placeholder="Ingrese un monto">
				<div class="card-footer">
					<button type="button" class="btn btn-warning" onclick="create()">Crear</button>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card" style="display: none;" id="form_send">
				<label>Usuarios: </label>
					<select id="users_select" class="form-control">
						<option>--Seleccione un usuario--</option>
					</select>
					<input type="integer" class="form-control" name="" placeholder="Ingrese un monto">
				<div class="card-footer">
					<button type="button" class="btn btn-warning" onclick="send()">Enviar</button>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card" style="display: none;" id="card_balance">
				<label>Usuarios: </label>
					<select id="balance_select" class="form-control">
						<option>--Seleccione un moneda--</option>
					</select>
					<h2></h2>
				<div class="card-footer">
					<button type="button" class="btn btn-warning" onclick="">Calcular</button>
				</div>
			</div>
		</div>
	</div>
		<br>

	</div>

  </body>
</html>