<!doctype html>
<html lang="en">
  <head>
   {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <title>Wallet Ripio</title>
  </head>
  <body class="text-center">
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/walletclient.js'%}"></script>
	<div class="container">
		<div class="col-12" style="width:500px">
		<h1>Bienvenido a Wallet Ripio</h1>
	    	<form class="form-signin" id="login">
    		<h2>Acceda a su billetera: </h2>
		      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		      <label for="inputUsername" class="sr-only">User Name</label>
		      <input type="text" id="inputUsername" class="form-control" placeholder="User Name" required autofocus>
		      <label for="inputPassword" class="sr-only">Password</label>
		      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		    </form>
	    </div>
	</div>
<script type="text/javascript">
	
	var localhost = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');

  console.log(localhost)

$( "#login" ).submit(function() {
  console.log('entraaaa')
  $.ajax({
       url: localhost+'api/api-token-auth',
       type: 'POST',
       data: {
        username:$('#inputUsername').val(),
        password:$('#inputPassword').val()
       },
       dataType: 'json',
       success: function(res){
               console.log(res)
               $.ajaxSetup({
                  headers: {
                    "token": res.token
                  }
               });
       },
       error: function(error) {
           callbackErr(error,self)
       }
   })
});
</script>
  </body>
</html>